.workflowNotification {
  :global(.cds--inline-notification__text-wrapper) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  :global(.cds--inline-notification__title) {
    display: block;
    margin-right: 0;
    margin-bottom: 0.75rem;
  }

  :global(.cds--inline-notification__subtitle) {
    display: block;
  }
}
